*{
    font-family:sans-serif
}
nav{
    display: flex;
    flex-direction: row;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: white;
}
.rigth-content{
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.left-content{
    height: 70%;
    width: 800px;
    margin-left: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.logo{
    width: 70px;
    height: 100%;
    margin-left: 50px;
}
.logo-image{
    width: 100%;
    height: 100%;
}
.address{
    color: gray;
}
.other{
    width: 500px;
    height: 40%;
    margin-top: 30px;
    margin-left: 40px;
}
.underline{
    font-weight: 600;
    color: black;
}
.arrow {
    border: solid orangered;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}  
.nav-content{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.material-icons{
    padding-top: 20px;
}
.icon-cont{
    display: flex;
    flex-direction: row;
}
.icon{
    width: 20%;
    height: 100%;
}
.icon-dis{
    margin-left: 10px;
    height: 80%;
    font-size: 20px;
    margin-top: 0px;
}
.new{
    color: orangered;
}
#card-box{
    background-color: rgba(4, 9, 37, 0.644);
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cards{
    height:280px;
    width: 300px;
    margin: 30px;
    margin-top: 120px;
    margin-left: 40px;
}
.card-img{
    height: 100%;
    width: 100%;
}
.for-restaurants{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.restau{
    width: 400px;
    margin-left: 50px;
}
.filters{
    width: 1000px;
    height: auto;
    margin-left: 200px;
    display: flex;
    flex-direction: row;
}
.filter-dis{
    width: auto;
    margin-left: 50px;
}
.restaurant-list{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.restaurant-card{
    width: 260px;
    height: 300px;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 0px;
}
.card-image{
    height: 100%;
    width: 100%;
}